*.iml
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.gradle/
/build/
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties
python_backend/annotations/
python_backend/__pycache__/
python_backend/data/
