*.iml
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.gradle/
/build/
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties
NER/python_backend/annotations/
NER/python_backend/__pycache__/
NER/python_backend/data/
NER/flask_api/__pycache__/
